html,
body,
#root,
.app,
.content {
   height: 100%;
   width: 100%;
   font-family: 'Roboto';
}

.app {
   display: flex;
   position: relative;
}

.centerContent {
   height: calc(100vh - 130px - 1rem);
   margin: 0.5rem 0;
   overflow: auto;
}

.sidebar {
   .ps-menu-button:hover {
      background: #dada;
   }
}

.modal {
   position: 'absolute';
   top: '50%';
   left: '50%';
   transform: translate(-50%, -50%);
   width: 400;
   background-color: 'background.paper';
   border: '2px solid #000';
   box-shadow: 24;
   padding: 4;
}

a {
   text-decoration: none;
   color: inherit;
}

::-webkit-scrollbar {
   width: 0.5rem;
}

::-webkit-scrollbar-track {
   background: #e0e0e0;
   &:hover {
      background: #555;
   }
}

::-webkit-scrollbar-thumb {
   background: #888;
}
